
header
{
	display: flex;
	background-color: red;
	padding: 0 0 10px 0;
	align-items: center;
	justify-content: center;
	color: white;
	letter-spacing: 0;
	text-shadow: none;
	transition: color 2s, letter-spacing 2s, text-shadow 2s;
}
header:hover
{
	letter-spacing: 35px;
	text-shadow: 2px 2px 5px white;
}
/* above:: header property
below:: image property */
.image
{
	width: 30%;
	height: 9vw;
	margin: 1vw 2vw 0 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image img
{
	width: 10vw;
	padding: 5px;
}
/* above:: image property
below:: title property*/
.title
{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	font-family: open-sans;
}
.title h1
{
	margin: 0;
}
.title h1 hr
{
	margin: 5px 0 5px 50%;
	width: 0;
	visibility: hidden;
	color: white;
	opacity: 0.2;
	transform: translate(-50%, 0);
	transition: width 2s, visibility 2s, opacity 1s;
}
header:hover hr
{
	width: 100%;
	visibility: visible;
	opacity: 1;
}
/* above:: end of header
below:: start of navigation bar */
nav
{
	background-color: hsl(0, 0%, 90%);
	transition: box-shadow 0.5s;
	position: relative;
	font-family: open-sans;
}
nav:hover
{
	box-shadow: 3px 3px 5px 1px grey;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li:hover
{
	background-color: black;
}
a
{
	text-decoration: none;
	padding: 10px;
	display: block;
}
.main-nav-container
{
	display: flex;
}
.main-nav-content
{
	border-radius: 5px;
}
.main-nav-content a
{
	color: black;
}
.main-nav-content:hover a
{
	color: white;
}
.main-subnav-container1
{
	position: absolute;
	background-color: dodgerblue;
	width: 130px;
	height: 0;
	transform: translate(0, -10px);
	z-index: -1;
	border-radius: 0 0 50px 10px;
	transition: height 1s, transform 1s;
	box-shadow: 2px 2px 2px 2px hsl(0, 0%, 40%);
	overflow: hidden;
}
.main-subnav1:hover .main-subnav-container1
{
	height: 300%;
	transform: translate(0, 0);
}
/*above:: end of navigation bar*/
/*horizontal line*/
.hr-line
{
	width: 70%;
	height: 1px;
	position: relative;
	background-color: black;
	border: none;
}
.hr-line::before
{
	content: "";
	width: 10px;
	height: 10px;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	top: 0;
	transform: translate(0, -50%);
}.hr-line::after
{
	content: "";
	width: 10px;
	height: 10px;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	top: 0;
	transform: translate(0, -50%);
}
/*End of horizontal line*/
main
{
	display: flex;
	padding: 5px;
	position: absolute;
	width: 100%;
	z-index: -2;
}
#listOfContent
{
	width: 25%;
	background-color: yellow;
}
#mainContent
{
	width: 75%;
	background-color: powderblue;
}
iframe
{
	width: 100%;
	border: 0;
	height: 500px;
}
#cheatSheets
{
	position: absolute;
	top: 700px;
	width: 100%;
	text-align: center;
}
.cheatSheet-container
{
	margin: 20px 5px 5px 5px;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}
.cheatSheet-content img
{
	width: 170px;
	transform: translate(-20px, -20px);
}
.cheatSheet-content
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 red;
	transition: box-shadow 0.5s;
}
.cheatSheet-content-js
{
	width: 150px;
	border-radius: 50%;
	height: 150px;
	background-color: yellow;
	font-size: 50px;
	font-family: open-sans;
	overflow: hidden;
	box-shadow: 0 0 red;
	transition: box-shadow 0.5s;
}
.cheatSheet-content-js a
{
	color: black;
	padding-top: 40px ;
	height: 100px;
}
.cheatSheet-content:hover, .cheatSheet-content-js:hover
{
	box-shadow: 0 0 20px 5px red;
}